@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
    --primary-color: #FCD34D;
    --btn-color: #FDE68A;
    /* --dark-gray: #6B7280;
    --off-white: #F3F4F6;
*/
    --blue: #0E49B5;
 
}

body{
    font-family: 'Architects Daughter', cursive;
    margin:0px;
    box-sizing: border-box;
}


.navigation {
    background-color: var(--primary-color);
    color:var(--blue);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
}
.navigation small {
    font-size:1rem;
}
#txt-input {
    border: 1px solid black;
    width: 60%;
    height:15vh;
    display: block;
    padding: 1rem;
    margin:3rem auto;
    border-radius: 1rem;
    font-size: 20px;
}
.btn {
    text-align: center;
}

#btn-translate {
    background-color: var(--btn-color);
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
}

#btn-translate:hover,btn-translate:focus {
    background-color: var(--primary-color);
}


#translate-output {
    border: 1px solid black;
    height: 15vh;
    width: 60%;
    padding: 1rem;
    margin:3rem auto;
    border-radius: 1rem;
    font-size: 20px;
    
}

.footer {
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--blue);
    padding: 1rem;
    text-align: center;
    display: block;
    border-radius: 1rem 2rem;
    margin: auto;
}

.footer-header {
    font-size: x-large;
    font-weight: bold;
}
.para {
    font-size: large;
}

img {
    width: 80px;
    height: 90px;
}
h3 {
    color:var(--blue);
}

h1{
    font-size:3rem;
}